<!DOCTYPE html>
<html>

<head>
    <title>yusef_jetspree_test</title>
</head>

<body>

    <h3>API LIST</h3>
    <p>1. Country List - GET METHOD :</p>
    <a href="http://localhost:3000/api/countries">http://localhost:3000/api/countries</a>
    <br/>
    <p>2. Item List - GET METHOD :</p>
    <a href="http://localhost:3000/api/item">http://localhost:3000/api/item</a>
    <hr/>
    <p>3. Add Item - POST METHOD :</p>
    <a href="http://localhost:3000/add_item">Add Item</a>
</body>

</html>